<form id="form-token" >
    <div>
        <label for="">Email</label>
        <input  type="text" name="email" id="email">
    </div>
    <div>
        <label for="">PassWord</label>
        <input type="password" name="password" id="password">
    </div>
   <button type="submit">login</button>
</form>
 <h1 id="home"></h1>


<script>
    const form = document.getElementById('form-token');
    form.addEventListener('submit',registerToken);
    async function registerToken(e){
        e.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const result = await fetch('/token',{
            method: 'POST',
            headers:{
                'Content-Type': 'application/json'
            },           
            body: JSON.stringify({
                email,
                password
            })
        }).then((res) => res.json()).catch((err)=>{ console.log(err)})

        if(result){
            console.log(result);
           setCookie('token', result.data.token)
           window.location.href = "/auth";
        }        
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>